@mixin apply-spacing($gap-value) {
  gap: $gap-value !important;
}



.glow-container {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: flex;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }

  &::before {
    left: 0;
    background: radial-gradient(
      circle at right,
      rgba(139, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  }

  &::after {
    right: 0;
    background: radial-gradient(
      circle at left,
      rgba(0, 128, 128, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  }
}