@use "sass:map";
@use '../abstracts/mixins' as tools;
@use '../abstracts/variables' as var;

.pattern {
    z-index: 1;

    position: relative; // Zorg dat dit de basis is voor de stack
    background-color: rgba(0, 0, 0, 0.4);
    height: auto; // Hoogte wordt bepaald door de content
    display: flex;
    flex-direction: column;
    justify-content: center;

    .feather {
        z-index: 2;

        .bottom {
            background: linear-gradient(
                to bottom,
                transparent 0%,
                transparent 20%,
                rgba(0, 0, 0, 0.5) 70%,
                rgba(0, 0, 0, 0.5) 70%,
                black 100%
            );
        }
    }
    .header {
        z-index: 3;
        position: relative; // Dit haalt de tekst uit de overlay-flow van de feathers
        height: auto; // Belangrijk: mag geen 100% zijn

        .banner-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}