@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

footer {
    color: var(--white-80);
     margin-top: map.get(map.get(v.$design-scale, "xl"), "c-space");

  
    @include mix.respond-to(v.$bp-medium) {
        margin-top: map.get(map.get(v.$design-scale, "base"), "c-space");
    }

    &.P10 {
        padding: map.get(map.get(v.$design-scale, "4xl"), "c-space") 0;

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            padding: map.get(map.get(v.$design-scale, "5xl"), "c-space") 0;
        }
    }

    .P20 {
        gap: map.get(map.get(v.$design-scale, "xs"), "c-space");

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            gap: map.get(map.get(v.$design-scale, "3xl"), "c-space");
        }
    }

    img {
        width: 220px;

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            width: 200px;
        }
    }

    svg {
        display: block;
        width: 32px;
        height: 32px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .btn {
        display: inline;
    }

    .constrainer {
        @include mix.respond-to(v.$bp-small) {
            gap: 24px;
        }
    }
}
