@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

footer {
    color: var(--white-80);

    img {
        width: 220px;

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            width: 220px;
        }
    }

    svg {
        display: block;
        width: 32px;
        height: 32px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .btn {
        display: inline;
    }

    .constrainer {

        @include mix.respond-to(v.$bp-small) {
            gap: 24px;
        }
    }
}
