@use "sass:map";
@use "../abstracts/mixins" as tools;
@use "../abstracts/variables" as var;

/* =======================================
    NAVIGATIE BASIS & DESKTOP LAYOUT
   ======================================= */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: var.$nav-height-large;
    background-color: black;

    padding: 0 map.get(map.get(var.$design-scale, "5xl"), "r-space");

    .hidden-wrapper {
        display: none;
        position: relative;
    }

    .logo-wrapper {
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            line-height: 0; // Voorkomt extra witruimte onder de link
        }

        img {
            display: block;
            margin-left: 0; // Forceer tegen de rand
        }
    }

    .menu-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: var.$desktop-max-width;
        padding: 0 map.get(map.get(var.$design-scale, "6xl"), "r-space");

        .mainList-wrapper {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: map.get(map.get(var.$design-scale, "5xl"), "c-space");
        }
    }

    .cta-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        flex-basis: 0;
        height: 100%;
    }

    /* =======================================
        MEDIUM SCREEN
       ======================================= */
    @include tools.respond-to(var.$screen-size-medium) {
        height: var.$nav-height-medium;
        padding: 0 map.get(map.get(var.$design-scale, "3xl"), "r-space");

        .logo-wrapper {
            flex-basis: auto;
        }

        .cta-wrapper {
            flex-grow: 0;
            flex-basis: auto;
        }

        .hidden-wrapper {
            display: flex;
            flex-grow: 0;
            flex-basis: auto;           
            pointer-events: auto;
        }

        .menu-wrapper {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 80vw;
            z-index: 2000;
            overflow: hidden;
            visibility: hidden;
            background-color: inherit; // Of je specifieke zwarte kleur
            padding: 0;

            &.mobile {
                pointer-events: none; // Blokkeert niks als hij onzichtbaar is

                &.active {
                    pointer-events: auto; // Wel klikbaar als hij open is
                    visibility: visible;
                }
            }

            .mobileMenuHeader-border {
                position: relative;
                width: 100%;
                z-index: 100;
                height: var.$nav-height-small;

                .mobileMenuHeader-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                }
            }

            .mainList-wrapper {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: map.get(map.get(var.$design-scale, "4xl"), "r-space");
                padding: map.get(map.get(var.$design-scale, "4xl"), "r-space");
            }
        }
    }

    /* =======================================
        SMALL SCREEN 
       ======================================= */
    @include tools.respond-to(var.$screen-size-small) {
        height: var.$nav-height-small;
        padding: 0 map.get(map.get(var.$design-scale, "2xl"), "in-space");

        .logo-wrapper img {
            width: 120px;
        }
    }
}
