@use "sass:map";
@use "../../abstracts/mixins" as tools;
@use "../../abstracts/variables" as var;

.card {
    width: auto !important;   

    &-dummy {
        width: var(--card_width);
        height: 0;
        visibility: hidden;
    }

    .audioplayer-wrapper {
        width: var(--card_width); // Hier staat nu de vaste breedte
        height: auto;
        aspect-ratio: 16 / 9;

        @include tools.respond-to(var.$screen-size-small) {
            width: 100%; // Zorg dat de wrapper op mobiel ook 100% pakt
        }

        .ready-wrapper {
            button {
                width: 60px;
                height: 60px;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .playing-wrapper {
            padding: map.get(map.get(var.$design-scale, "base"), "c-space");
            gap: map.get(map.get(var.$design-scale, "sm"), "c-space");

            .timestamp-wrapper {
                font-size: map.get(map.get(var.$design-scale, "sm"), "font-size");
            }

            .timeline-wrapper {
                padding: map.get(map.get(var.$design-scale, "sm"), "c-space");

                .total,
                .progress {
                    height: 5px;
                }
            }

            // Player Controls
            .layer-wrapper {
                .pausefilters button {
                    width: 40px;
                    height: 40px;
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .volume-wrapper {
                    border-radius: 1px;
                    .icon {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .slider {
                        padding-left: map.get(map.get(var.$design-scale, "sm"), "c-space");

                        input[type="range"] {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}
