@use "sass:map";
@use "../../abstracts/mixins" as global;
@use "../../abstracts/variables" as var;
@use "../../abstracts/functions" as fn;

#luister_content_playlist {
    .card {
        width: auto;

        @include global.respond-to(fn.get-breakpoint("small")) {
            width: 100%;
        }

        .audioplayer-wrapper {
            width: 400px;

            @include global.respond-to(fn.get-breakpoint("small")) {
                width: 100%;
            }

            .playing-wrapper {
                .timestamp-wrapper {
                    font-size: map.get(map.get(var.$design-scale, "xs"), "font-size");
                }

                .timeline-wrapper {
                    .total,
                    .progress {
                        height: 5px;
                    }
                }
            }
        }

        &-dummy {
            height: 0;
            visibility: hidden;
        }
    }
}
