@use "sass:math";
@use "sass:string";
@use "sass:map";
@use "../functions" as fn;
@use "../config" as c;

// 1. Variabele definiëren voor hergebruik
$bp-large: fn.get-breakpoint("large");
$bp-medium: fn.get-breakpoint("medium");
$bp-small: fn.get-breakpoint("small");


// --- Font ---
$base-font: var(--font-poppins), "Poppins", Arial, sans-serif;

// --- Body Afmetingen ---
$desktop-max-width: 1300px;

// --- Nav heights ---
$nav-height-large: 86px;
$nav-height-medium: 86px;
$nav-height-small: 52px;

// --- Banner heights ---
$banner-height-large: 96px 0;
$banner-height-medium: 96px 0;
$banner-height-small: 60px 0;
