@use "sass:map";
@use "../../abstracts/mixins" as global;
@use "../../abstracts/variables" as var;
@use "../../abstracts/functions" as fn;

#hero {
    .visual {
        padding-left: 900px;

        img {
            height: 110%;
            width: auto;
            object-fit: contain;
            flex-shrink: 0;
            transform: translateY(0px);
        }

        .hero-img-desktop {
            display: block;
        }

        .hero-img-mobile {
            display: none;
        }

        @include global.respond-to(fn.get-breakpoint("medium")) {
            padding-left: 400px;
        }

        @include global.respond-to(fn.get-breakpoint("small")) {
            padding-left: 0;

            .hero-img-desktop {
                display: none;
            }

            .hero-img-mobile {
                display: block;
                height: 75%;
                width: auto;
                transform: translateY(-10px);
            }
        }
    }

    #hero_front {
        z-index: 2;

        .constrainer {
            .button-group {
                .btn {
                    padding: 14px 28px;
                }
            }

            @include global.respond-to(fn.get-breakpoint("small")) {
                transform: translateY(0px);
            }
        }
    }

    .gradient {
        background-color: rgb(0, 0, 0);
        background-image:
            radial-gradient(at 10% 60%, rgba(46, 46, 0, 0.3) 0%, transparent 40%),
            radial-gradient(at 55% 35%, rgba(78, 0, 0, 0.3) 0%, transparent 40%),
            radial-gradient(at 75% 60%, rgba(0, 58, 58, 0.3) 0%, transparent 40%);
        background-blend-mode: screen;

        @include global.respond-to(fn.get-breakpoint("small")) {
            background-image:
                radial-gradient(at 40% 70%, rgba(46, 46, 0, 0.4) 0%, transparent 30%),
                radial-gradient(at 45% 30%, rgba(78, 0, 0, 0.4) 0%, transparent 30%),
                radial-gradient(at 65% 50%, rgba(0, 58, 58, 0.4) 0%, transparent 40%);
            background-blend-mode: screen;
        }
    }
}
