@use "sass:map";
@use "../../abstracts/mixins" as tools;
@use "../../abstracts/variables" as var;

#hero {
    .background.gradient {
        background-color: rgb(0, 0, 0);
        background-image:
            radial-gradient(at 10% 60%, rgba(46, 46, 0, 0.3) 0%, transparent 40%),
            radial-gradient(at 55% 35%, rgba(78, 0, 0, 0.3) 0%, transparent 40%),
            radial-gradient(at 75% 60%, rgba(0, 58, 58, 0.3) 0%, transparent 40%);
        background-blend-mode: screen;

        @include tools.respond-to(var.$screen-size-small) {
            background-image:
                radial-gradient(at 40% 70%, rgba(46, 46, 0, 0.4) 0%, transparent 30%),
                radial-gradient(at 45% 30%, rgba(78, 0, 0, 0.4) 0%, transparent 30%),
                radial-gradient(at 65% 50%, rgba(0, 58, 58, 0.4) 0%, transparent 40%);
            background-blend-mode: screen;
        }
    }

    .background.photo {
        justify-content: center;
        align-items: center;
        padding-left: 900px;

        img {
            height: 105%;
            width: auto;
            object-fit: contain;
            flex-shrink: 0;
            transform: translateY(20px);
        }

        .hero-img-desktop {
            display: block;
        }

        .hero-img-mobile {
            display: none;
        }

        @include tools.respond-to(var.$screen-size-medium) {
            padding-left: 400px;
        }

        @include tools.respond-to(var.$screen-size-small) {
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;

            .hero-img-desktop {
                display: none;
            }

            .hero-img-mobile {
                display: block;
                height: 60%;
                width: auto;
                transform: translateY(0px);
            }
        }
    }

    .foreground {
        justify-content: center;

        .text-wrapper {
            transform: translateY(-50px);
            h1,
            h2 {
                text-align: left;

                @include tools.respond-to(var.$screen-size-small) {
                    text-align: center;
                }
            }
        }

        .button-group {
            transform: translateY(-50px);
            .btn {
                padding: 14px 28px;
            }

            @include tools.respond-to(var.$screen-size-small) {
                justify-content: center;
            }
        }

        @include tools.respond-to(var.$screen-size-small) {
            transform: translateY(150px);
        }
    }
}
