@use "sass:map";
@use "../../abstracts/mixins" as mix;
@use "../../abstracts/variables" as v;

$gap-size: map.get(map.get(v.$design-scale, "6xl"), "r-space");

#verzoeknummers {  
    justify-content: center;

    .left {
        flex: 0 0 calc(50% - (#{$gap-size} / 2));
        max-width: calc(50% - (#{$gap-size} / 2));

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            flex: 1 1 100%; // Reset op mobile
            max-width: none;
        }
    }

    .right {
        flex: 0 0 calc(50% - (#{$gap-size} / 2));
        max-width: calc(50% - (#{$gap-size} / 2));

        @include mix.respond-to(fn.get-breakpoint("medium")) {
            flex: 1 1 100%; // Reset op mobile
            max-width: none;
        }
    }
}

// =======================================
// Verzoek section - NU BUITEN DE .PROMO ACCLODE
// =======================================
#verzoeknummers {
    .left {
        img {
            width: 100%;
            height: auto;
            display: block;
            background-image: radial-gradient(circle, #ffffff 0%, #c7c7c7 100%);
        }
    }
}
