@use "sass:math";
@use "sass:string";
@use "sass:map";
@use "config" as c; // Je gebruikt hier 'c'

@function str-replace($string, $search, $replace: "") {
    $index: string.index($string, $search);

    @if $index {
        @return string.slice($string, 1, $index - 1) + $replace +
            str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }

    @return $string;
}

/* =======================================
    2. SCALES
   ======================================= */
@function get-scale-key($alias, $breakpoint: "base") {
    $map: c.$base-mapping; // Veranderd van v naar c

    @if $breakpoint == "medium" {
        $map: c.$medium-mapping; // Veranderd van v naar c
    } @else if $breakpoint == "small" {
        $map: c.$small-mapping; // Veranderd van v naar c
    }

    @if map.has-key($map, $alias) {
        @return map.get($map, $alias);
    } @else {
        @return $alias;
    }
}

/* =======================================
    3. BREAKPOINTS
   ======================================= */
@function get-breakpoint($size) {   
    @return map.get(c.$breakpoints, $size); // Veranderd van v naar c
}