@use "sass:math";
@use "sass:string";
@use "sass:map";

@function str-replace($string, $search, $replace: "") {
    $index: string.index($string, $search); // string. toevoegen

    @if $index {
        @return string.slice($string, 1, $index - 1) + $replace +
            str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }

    @return $string;
}

// --- Font ---
$base-font: var(--font-poppins), "Poppins", Arial, sans-serif;

// --- Body Afmetingen ---
$desktop-max-width: 1230px;

// --- Nav heights ---
$nav-height-large: 90px;
$nav-height-medium: 80px;
$nav-height-small: 70px;

// --- Banner heights ---
$banner-height-large: 110px 0;
$banner-height-medium: 50px 0;
$banner-height-small: 40px 0;

// Body Breekpunten
$screen-size-large: 1530px;
$screen-size-medium: 920px;
$screen-size-small: 500px;


$design-scale: (
    "xs": (
        font-size: 12px,
        line-height: 16px,
        c-space: 3px,
        r-space: 3px,
        in-space: 3px,
        extra-space: 2px
    ),
    "sm": (
        font-size: 14px,
        line-height: 20px,
        c-space: 4px,
        r-space: 4px,
        in-space: 4px,
        extra-space: 3px
    ),
    "base": (
        font-size: 16px,
        line-height: 28px,
        c-space: 6px,
        r-space: 6px,
        in-space: 6px,
        extra-space: 3px
    ),
    "lg": (
        font-size: 18px,
        line-height: 28px,
        c-space: 8px,
        r-space: 8px,
        in-space: 8px,
        extra-space: 3px
    ),
    "xl": (
        font-size: 20px,
        line-height: 28px,
        c-space: 11px,
        r-space: 11px,
        in-space: 11px,
        extra-space: 4px
    ),
    "2xl": (
        font-size: 24px,
        line-height: 32px,
        c-space: 15px,
        r-space: 15px,
        in-space: 15px,
        extra-space: 4px
    ),
    "3xl": (
        font-size: 30px,
        line-height: 36px,
        c-space: 21px,
        r-space: 21px,
        in-space: 21px,
        extra-space: 5px
    ),
    "4xl": (
        font-size: 36px,
        line-height: 50px,
        c-space: 30px,
        r-space: 30px,
        in-space: 30px,
        extra-space: 6px
    ),
    "5xl": (
        font-size: 48px,
        line-height: 56px,
        c-space: 42px,
        r-space: 42px,
        in-space: 42px,
        extra-space: 7px
    ),
    "6xl": (
        font-size: 60px,
        line-height: 80px,
        c-space: 58px,
        r-space: 58px,
        in-space: 58px,
        extra-space: 8px
    ),
    "7xl": (
        font-size: 72px,
        line-height: 84px,
        c-space: 81px,
        r-space: 81px,
        in-space: 81px,
        extra-space: 8px
    ),
    "8xl": (
        font-size: 96px,
        line-height: 120px,
        c-space: 113px,
        r-space: 113px,
        in-space: 113px,
        extra-space: 9px
    ),
    "9xl": (
        font-size: 128px,
        line-height: 128px,
        c-space: 133px,
        r-space: 133px,
        in-space: 133px,
        extra-space: 9px
    )
);



// =======================================
// 1. Gecentraliseerde Kleurdefinities (SCSS Map)
// =======================================
$colors: (
    // --- Black & White tinten ---
    "black": (
            "100": #000000,
            "90": #0f0f0f,
            "80": #2e2e2e,
            "70": #5a5a5a
        ),
    "white": (
        "100": #ffffff,
        "90": #f3f3f3,
        "80": #d1d1d1,
        "70": #919191
    ),
    // --- Primaire & Accentkleuren ---
    "yellow": (
            "default": #ffff00,
            "light": #ffffb2
        ),
    "cyan": (
        "default": #00ffff,
        "light": #b2ffff
    ),
    "green": (
        "default": #00ff00,
        "light": #b3ffb2
    ),
    "blue": (
        "default": #0000ff,
        "light": #3333ff
    ),
    "orange": (
        "default": #ff7f00,
        "light": #ffd9b3
    ),
    "red": (
        "default": #ff0000,
        "light": #ff8080
    ),
    "purple": (
        "default": #7f00ff,
        "light": #cc99ff
    ),
    "magenta": (
        "default": #ff00ff,
        "light": #ff2bff
    ),
    // --- Feedbackkleuren ---
    "error": (
            "bg": #991b1b,
            "border": #fca5a5,
            "fg": #fee2e2
        )
);

// =======================================
// 2. CSS Variabelen Genereren (:root)
// =======================================
:root {
    --screen-size-large: #{$screen-size-large};
    --screen-size-medium: #{$screen-size-medium};
    --screen-size-small: #{$screen-size-small};

    @each $base-color, $tints in $colors {
        @each $tint-name, $value in $tints {
            // Start met de basiskleur (bijv. 'black')
            $css-var-name: #{$base-color};

            // Dit creëert 'black-100', 'black-90', 'yellow-full', etc.
            $css-var-name: #{$base-color}-#{$tint-name};

            --#{$css-var-name}: #{$value};
        }
    }
}

/* =======================================
    3. Music Mood Colours variabelen
   ======================================= */
// Aspect Ratio instellingen (overal hergebruikt)

// --- Progressieve Clamp (320px -> 800px) ---
$colour-width: clamp(70px, 1.46vw + 73.33px, 95px);
$colour-aspect-w: 20;
$colour-aspect-h: 7;
$colour-aspect-ratio: #{$colour-aspect-w} / #{$colour-aspect-h};
$colour-height-multiplier: math.div($colour-aspect-h, $colour-aspect-w);

$canvas-max-width: 680px;

// Kleurenlijsten voor loops
$all-colors: ("cyan", "yellow", "red", "purple", "green", "orange", "magenta", "blue");
$dark-text-colors: ("cyan", "yellow", "green", "orange");
