@use "sass:map";
@use "../abstracts/mixins" as tools;
@use "../abstracts/variables" as var;



// =======================================
// diensten section
// =======================================
#diensten {
    .buttons {
        max-width: 600px;
        .diensten-btn {
            flex: 1 1 40%;

            @include tools.respond-to(var.$screen-size-medium) {
                flex: 1 1 100%;
            }
        }
    }
}


