@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;



// =======================================
// diensten section
// =======================================
#diensten {
    .buttons {
        max-width: 600px;
        .diensten-btn {
            flex: 1 1 40%;

            @include mix.respond-to(fn.get-breakpoint("medium")) {
                flex: 1 1 100%;
            }
        }
    }
}


