@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

#luister {
    gap: map.get(map.get(v.$design-scale, "xs"), "c-space");

    @include mix.respond-to(v.$bp-medium) {
        gap: map.get(map.get(v.$design-scale, "xl"), "c-space");
    }

    #luister_content {
        .constrainer {
            gap: map.get(map.get(v.$design-scale, "xs"), "c-space");

            @include mix.respond-to(fn.get-breakpoint("small")) {
                gap: map.get(map.get(v.$design-scale, "xs"), "c-space");
            }
        }

        #luister_content_playlist {
            order: 1;

            @include mix.respond-to(v.$bp-small) {
                order: 2;
            }
        }

        #luister_content_filter {
            order: 2;

            @include mix.respond-to(v.$bp-small) {
                order: 1;
            }
        }
    }
}
