@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

#luister_mix {
    // Zorgt voor de max-width van de tracklist en content
    .return-wrapper,
    .tracklist {
        max-width: 650px;
    }

    .audioplayer-wrapper {
        width: 650px;

        @include mix.respond-to(v.$bp-small) {
            width: 100%;
        }
    }

    // 2. Terug-knop & Header
    .return-wrapper {
        .terug-btn {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .row {
        // De "Bekijk op Spotify" knop
        .h-end a {
            display: inline-flex;
            align-items: center;
            gap: 8px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            &.track {
                text-align: left;
            }
            &.time {
                white-space: nowrap;
                text-align: right;
            }
        }
    }
}
