@use "sass:map";
@use "../abstracts/mixins" as tools;
@use "../abstracts/variables" as var;
@use "../abstracts/functions" as fn;

#banner_2 {
   

    .visual {
        background-image: url("/images/pattern.webp");
        background-repeat: repeat-x;

        $ratio: 1.1631663974;

        // DESKTOP
        $h-desktop: 390px;
        background-size: ($h-desktop * $ratio) $h-desktop;
        --pattern-offset: -#{$h-desktop * $ratio};

        animation: scrollPattern 40s linear infinite;

        @include tools.respond-to(fn.get-breakpoint("small")) {
            // MOBILE
            $h-mobile: 310px;
            background-size: ($h-mobile * $ratio) $h-mobile;
            --pattern-offset: -#{$h-mobile * $ratio};
        }
    }
}

@keyframes scrollPattern {
    from {
        // 50% zorgt ervoor dat het patroon verticaal gecentreerd blijft
        background-position: 0 50%;
    }
    to {
        // De offset voor de loop, maar behoud de verticale 50%
        background-position: var(--pattern-offset) 50%;
    }
}
