@use "sass:map";
@use "../../abstracts/mixins" as global;
@use "../../abstracts/variables" as var;
@use "../../abstracts/functions" as fn;

/* =======================================
   1. Animatie & Mixins
   ======================================= */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

%overlay-button-circle {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid transparent;

    border-radius: 50%;
    flex-shrink: 0; // Voorkomt vervorming tot ovaal
}

/* =======================================
   2. Basis & State Logica
   ======================================= */

.audioplayer-wrapper {
    aspect-ratio: 16 / 9;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // --- State Management ---
    .ready-wrapper,
    .loading-wrapper,
    .playing-wrapper {
        display: none; // Default uit
    }

    &.is-ready {
        .ready-wrapper {
            display: flex;
            background-color: rgba(0, 0, 0, 0.3);
        }
        // In ready state tonen we vaak de playing-wrapper al op de achtergrond voor de lay-out
        .playing-wrapper {
            display: flex;
        }
    }

    &.is-loading {
        .loading-wrapper {
            display: flex;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &.is-playing {
        .playing-wrapper {
            display: flex;
        }
        .ready-wrapper,
        .loading-wrapper {
            display: none;
        }
    }

    /* =======================================
       3. Controls Styling
       ======================================= */

    // --- READY: De Grote Play Button ---
    .ready-wrapper {
        button {
            aspect-ratio: 1 / 1;
            border-radius: 50%;

            background-color: rgba(0, 0, 0, 0.8);
            padding: 12px;

            &:hover {
                background-color: rgba(30, 30, 30, 0.5);
                border-color: rgba(5, 5, 5, 0.5);
            }

            svg {
                width: 26px;
                height: 26px;
                display: block;
                fill: currentColor;
                color: white;
            }
        }
    }

    // --- LOADING: Spinner ---
    .loading-wrapper {
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top-color: #ff5500;
            animation: spin 1s linear infinite;
        }
    }

    // --- PLAYING: De Interface ---
    .playing-wrapper {
        justify-content: flex-end;

        // Tijdstempels
        .timestamp-wrapper {
            .timestamp {
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb(231, 231, 231);
                width: auto;
                line-height: 1;
            }
        }

        // Tijdlijn
        .timeline-wrapper {
            cursor: pointer;

            .stack {
                height: 5px;
                .total,
                .progress {
                    top: 50%;
                    transform-origin: left center;
                    transform: translateY(-50%);
                }

                .total {
                    background-color: #b3b3b3;
                }

                .progress {
                    background-color: #f1f12b;
                    transform: translateY(-50%);
                    transition: width 0.1s linear;
                }
            }
        }

        // Onderste rij: Pause & Volume
        .layer-wrapper {
            .pauseFilters {
                .pause.column.w-hug {
                    button {
                        background-color: rgba(0, 0, 0, 0.8);
                        padding: 12px;
                        border-radius: 50%;

                        &:hover {
                            background-color: rgba(30, 30, 30, 0.5);
                        }

                        svg {
                            width: 14px;
                            height: 14px;
                            display: block;
                            fill: currentColor;
                            color: white;
                        }
                    }
                }
            }

            .volume-wrapper {
                width: auto;

                button.mute {
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 8px;
                    border-radius: 50%;

                    &:hover {
                        background-color: rgba(30, 30, 30, 0.5);
                        border-color: rgba(5, 5, 5, 0.5);
                    }

                    svg {
                        width: 14px;
                        height: 14px;
                        display: block;
                        fill: currentColor;
                        color: white;
                    }
                }

                .btn.slider {
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 8px;

                    input[type="range"] {
                        display: block;
                        width: 80px !important; // Of de gewenste breedte van je slider
                        cursor: pointer;
                        margin: 0; // Reset eventuele browser margin
                        accent-color: white;
                    }
                }
            }
        }
    }

    .P40 {
        @include global.apply-ux-bg("40");
        padding: map.get(map.get(var.$design-scale, "xs"), "r-space");

        @include global.respond-to(fn.get-breakpoint("small")) {
            padding: map.get(map.get(var.$design-scale, "xs"), "r-space");
            gap: map.get(map.get(var.$design-scale, "xs"), "r-space");
        }
    }

    .P45 {
        @include global.apply-ux-bg("45");
        padding: map.get(map.get(var.$design-scale, "xs"), "r-space");

        @include global.respond-to(fn.get-breakpoint("small")) {
            padding: map.get(map.get(var.$design-scale, "xs"), "r-space");
        }
    }

    .P50 {
        // Standaard padding/gap (altijd zichtbaar)
        padding: map.get(map.get(var.$design-scale, "xs"), "r-space");

        // UX-Modus: Alleen als body de class heeft
        @at-root body.ux-mode & {
            @include global.apply-ux-bg("50");
        }

        @include global.respond-to(fn.get-breakpoint("small")) {
            padding: map.get(map.get(var.$design-scale, "xs"), "r-space");
        }
    }

    .P55 {
        @include global.apply-ux-bg("55");
        padding: map.get(map.get(var.$design-scale, "xs"), "r-space");

        @include global.respond-to(fn.get-breakpoint("small")) {
            padding: map.get(map.get(var.$design-scale, "xs"), "r-space");
        }
    }
}
