@use "sass:map";
@use "../../abstracts/mixins" as tools;
@use "../../abstracts/variables" as var;

.terug-btn {
    max-width: 190px;
    padding: map.get(map.get(var.$design-scale, "3xl"), "in-space");
    font-size: map.get(map.get(var.$design-scale, "base"), "font-size");

    display: inline-flex;
    align-items: center;
    gap: 8px;

    @include tools.respond-to(var.$screen-size-small) {
        padding: map.get(map.get(var.$design-scale, "2xl"), "in-space");
        font-size: map.get(map.get(var.$design-scale, "sm"), "font-size");
    }
}
