@use "sass:map";
@use "../../abstracts/mixins" as global;
@use "../../abstracts/variables" as var;
@use "../../abstracts/functions" as fn;

.carousels {
    position: relative;
    width: 100%;

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        $row-1-h: map.get(map.get(var.$design-scale, "xl"), "c-space");
        $row-2-h: 70px;
        $gap: map.get(map.get(var.$design-scale, "base"), "c-space");
       

        transform: translateY(-50%);

        width: auto;
        height: var(--card_height);

        z-index: 400;

       
        touch-action: manipulation;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;

        justify-content: center;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);

        // Pijl locaties
        &.left {
            left: 0px;
        }

        &.right {
            right: 0px;
        }

        .btn {
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        // SVG in de pijl
        svg {
            width: 48px;
            height: 48px;
            padding: 12px;

            color: var(--yellow-light);
            background-color: var(--black-90);
            border: 1px solid var(--yellow-light);
            border-radius: 50%;
            pointer-events: auto; // Maakt de SVG klikbaar (overschrijft de parent 'none')

            &:hover {
                border: 2px solid var(--cyan-light);
                color: var(--cyan-light);
            }
        }
    }

    // Pijl verbergen
    .hidden {
        display: none !important;
    }

    .card-wrapper {
        display: flex;
        flex-grow: 1;

        overflow-x: auto;
        overflow-y: hidden;

        scrollbar-width: none; // Voor Firefox

        // Scrollbar verbergen voor Webkit browsers (Chrome, Safari)
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
