@use "sass:map";
@use "../../abstracts/mixins" as tools;
@use "../../abstracts/variables" as var;

.read-more-btn {
    max-width: 170px;
    padding: map.get(var.$in-spacing, "3xl");
    font-size: map.get(map.get(var.$font-settings, "base"), "size");
}
