@use "sass:map";
@use "../abstracts/mixins" as tools;
@use "../abstracts/variables" as var;

.btn {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border: none;

    text-align: center;
    justify-content: center;
    transition: color 300ms ease-in-out;
    line-height: 1;

    svg {
        display: block;
    }

    &.passive {
        border: 1px solid;
        background: none;

        &.diensten-btn {
            max-width: 300px;
            padding: map.get(map.get(var.$design-scale, "3xl"), "in-space");
            font-size: map.get(map.get(var.$design-scale, "base"), "font-size");

            @include tools.respond-to(var.$screen-size-medium) {
                max-width: none;
            }
        }

        &.filter-btn {
            width: 100%;
            max-width: 724px;
            margin-bottom: 20px;

            padding: map.get(map.get(var.$design-scale, "2xl"), "in-space");
            font-size: map.get(map.get(var.$design-scale, "base"), "font-size");
        }

        &.select {
            transition: none;
        }
    }

    &.nav {
        background: none;
        color: white;

        &.menu {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: -18px;
                right: -18px;
                border: 1px solid transparent;
                transition: border-color 0.5s ease;
            }

            &:hover::after {
                border: 1px solid rgb(85, 85, 85);
            }

            @include tools.respond-to(var.$screen-size-medium) {
                width: 100%;
                padding: map.get(map.get(var.$design-scale, "2xl"), "in-space");
                &::after {
                    content: none; // Verwijdert het element volledig op mobiel
                }

                &:hover::after {
                    border: none; // Zorgt dat er geen hover-activiteit meer is
                }
            }
        }

        &.hamburger-btn {
            height: 100%;
            font-weight: 200;
            font-size: map.get(map.get(var.$design-scale, "3xl"), "font-size");

            @include tools.respond-to(var.$screen-size-medium) {
                padding: 0 map.get(map.get(var.$design-scale, "xl"), "r-space");
                margin-left: map.get(map.get(var.$design-scale, "xl"), "r-space");
            }

            @include tools.respond-to(var.$screen-size-small) {
                padding: 0 map.get(map.get(var.$design-scale, "xl"), "r-space");
                margin-left: map.get(map.get(var.$design-scale, "xl"), "r-space");
            }
        }

        &.close-btn {
            display: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60px;
            font-size: map.get(map.get(var.$design-scale, "xl"), "font-size");
            margin-left: auto;
            margin-right: 0;

            svg {
                width: 24px;
                height: 24px;
            }

            @include tools.respond-to(var.$screen-size-medium) {
                display: flex;
            }
        }
    }

    &.filter {
        background: none;
        color: white;            

        &.close-btn {
            display: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60px;
            font-size: map.get(map.get(var.$design-scale, "xl"), "font-size");
            margin-left: auto;
            margin-right: 0;

            svg {
                width: 24px;
                height: 24px;
            }

            @include tools.respond-to(var.$screen-size-small) {
                display: flex;
            }
        }
    }

    &.cta {
        @include tools.cta-hover-effect(width);

        @include tools.color-utility(background-color, yellow-light);
        @include tools.color-utility(color, black-100);

        &:hover {
            @include tools.color-utility(background-color, yellow-light);
            @include tools.color-utility(color, black-100);
        }
        &::before {
            @include tools.color-utility(background-color, cyan-light);
        }

        position: relative;
        overflow: hidden;
        font-weight: 700;
        border: 1px solid;

        &.boek-nu-btn {
            width: 119px;
            padding: map.get(map.get(var.$design-scale, "xl"), "in-space");
            font-size: map.get(map.get(var.$design-scale, "lg"), "font-size");

            @include tools.respond-to(var.$screen-size-small) {
                width: 90px;
                padding: map.get(map.get(var.$design-scale, "lg"), "in-space");
                font-size: map.get(map.get(var.$design-scale, "sm"), "font-size");
            }
        }

        &.verzend-form-btn {
            width: 100%;
            padding: map.get(map.get(var.$design-scale, "3xl"), "in-space");
            font-size: map.get(map.get(var.$design-scale, "lg"), "font-size");
        }

        span {
            position: relative;
            display: block;
            white-space: nowrap;
        }
    }
}
