@use "sass:map";
@use "../abstracts/mixins" as tools;
@use "../abstracts/variables" as var;

.btn {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border: none;

    text-align: center;
    transition: color 300ms ease-in-out;

    svg {
        display: block;
    }

    &.passive {
        border: 1px solid;
        background: none;

        &.diensten-btn {
            max-width: 300px;
            padding: map.get(var.$in-spacing, "3xl");
            font-size: map.get(map.get(var.$font-settings, "base"), "size");

            @include tools.respond-to(var.$screen-size-medium) {
                max-width: none;
            }
        }

        &.select {
            transition: none;
        }
    }

    &.nav {
        background: none;
        color: white;

        &.hamburger-btn {
            height: 100%;
            font-weight: 200;
            font-size: map.get(map.get(var.$font-settings, "8xl"), "size");

            @include tools.respond-to(var.$screen-size-medium) {
                padding: 0 map.get(var.$r-spacing, "xl");
                margin-left: map.get(var.$r-spacing, "xl");
            }

            @include tools.respond-to(var.$screen-size-small) {
                padding: 0 map.get(var.$r-spacing, "xl");
                margin-left: map.get(var.$r-spacing, "xl");
            }
        }

        &.previousBtn,
        &.close-btn {
            display: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 60px;

            svg {
                width: 24px;
                height: 24px;
            }

            @include tools.respond-to(var.$screen-size-medium) {
                display: flex;
            }
        }

        &.previousBtn {
            margin-right: auto;

            svg {
                transform: rotate(90deg);
            }
        }

        &.close-btn {
            font-size: map.get(map.get(var.$font-settings, "8xl"), "size");
            margin-left: auto;
            margin-right: 0;
        }
    }

    &.cta {
        @include tools.cta-hover-effect(width);

        @include tools.color-utility(background-color, yellow-light);
        @include tools.color-utility(color, black-100);

        &:hover {
            @include tools.color-utility(background-color, yellow-light);
            @include tools.color-utility(color, black-100);
        }
        &::before {
            @include tools.color-utility(background-color, cyan-light);
        }

        position: relative;
        overflow: hidden;
        border: 1px solid;

        &.boek-nu-btn {
            width: 119px;
            padding: map.get(var.$in-spacing, "xl");
            font-size: map.get(map.get(var.$font-settings, "lg"), "size");

            @include tools.respond-to(var.$screen-size-small) {
                width: 92px;
                font-size: map.get(map.get(var.$font-settings, "8xl"), "size");
            }
        }

        &.verzend-form-btn {
            width: 100%;
            padding: map.get(var.$in-spacing, "3xl");
            font-size: map.get(map.get(var.$font-settings, "lg"), "size");
        }

        span {
            position: relative;
            display: block;
            white-space: nowrap;
        }
    }
}
