@use "sass:map";
@use "../abstracts/mixins" as global;
@use "../abstracts/variables" as var;
@use "../abstracts/functions" as fn;

.fullscreen {
    min-height: calc(100vh - var.$nav-height-large);

    @include global.respond-to(fn.get-breakpoint("medium")) {
        min-height: calc(100vh - var.$nav-height-medium);
    }

    @include global.respond-to(fn.get-breakpoint("small")) {
        min-height: calc(100vh - var.$nav-height-small);
    }
}

.constrainer {
    margin: 0 auto;
    max-width: var.$desktop-max-width;
    width: var.$desktop-max-width;

    @include global.respond-to(fn.get-breakpoint("medium")) {
        max-width: none;
        width: 100%;
    }
}

.constrainer-nav {
    max-width: none;
    width: 100%;
}

.hidden {
    display: none;
}

.splitter {
    height: 1px;
    width: 100%;

    @if var.$ux-mode == true {
        $ux-black-50: map.get(map.get(var.$colors, "ux-black"), "50");
        $ux-white-50: map.get(map.get(var.$colors, "ux-white"), "50");

        // We gebruiken interpolatie #{} om er zeker van te zijn dat 
        // de splitter correct wordt genest onder de modus-classes.
        @at-root body.ux-mode {
            .WoB .splitter {
                background-color: #{$ux-black-50} !important;
            }

            .BoW .splitter {
                background-color: #{$ux-white-50} !important;
            }
        }
    }

    &.mobile {
        display: none;
        @include global.respond-to(fn.get-breakpoint("small")) {
            display: block;
        }
    }
}

// 2. De basis voor selectie-knoppen
.btn.select {
    @include global.colour-base;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
