@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

.column,
.row,
.row-c,
.stack {
    display: flex;

    &.w-fill {
        width: 100%;
    }

    &.w-hug {
        width: fit-content;
    }
}

.column {
    flex-direction: column;
    @include mix.alignment-grid(column);
}

.row,
.row-c {
    flex-direction: row;

    &.split {
        justify-content: space-between;
    }
    &.wrap {
        flex-wrap: wrap;
    }

    @include mix.alignment-grid(row);
}

.stack {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    @include mix.alignment-grid(column);

    .layer {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible !important;
        @include mix.alignment-grid(column);

        &.gradient {
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            aspect-ratio: 1 / 1;
            min-width: 100vmax;
            min-height: 100vmax;
            width: auto;
            height: auto;

            @include mix.respond-to(v.$bp-small) {
                min-width: 140vmax;
            }
        }

        &.feathers {
            .sides {
                
                background: linear-gradient(
                    to right,
                    black 0%,
                    rgba(0, 0, 0, 0.5) 15%,
                    transparent 30%,
                    transparent 70%,
                    rgba(0, 0, 0, 0.5) 85%,
                    black 100%
                );
            }

            .bottom {                
                background: linear-gradient(
                    to bottom,
                    transparent 0%,
                    transparent 20%,
                    rgba(0, 0, 0, 0.5) 70%,
                    black 100%
                );
            }
        }
    }
}



.fullscreen {
    min-height: calc(100vh - v.$nav-height-large);

    @include mix.respond-to(fn.get-breakpoint("medium")) {
        min-height: calc(100vh - v.$nav-height-medium);
    }

    @include mix.respond-to(v.$bp-small) {
        min-height: calc(100vh - v.$nav-height-small);
    }
}

.constrainer {
    margin: 0 auto;
    max-width: v.$desktop-max-width;
    width: v.$desktop-max-width;

    @include mix.respond-to(fn.get-breakpoint("medium")) {
        max-width: none;
        width: 100%;
    }
}

.constrainer-nav {
    max-width: none;
    width: 100%;
}

.hidden {
    display: none;
}

.splitter {
    height: 1px;
    width: 100%;

    @if v.$ux-mode == true {
        $ux-black-50: map.get(map.get(v.$colors, "ux-black"), "50");
        $ux-white-50: map.get(map.get(v.$colors, "ux-white"), "50");

        // We gebruiken interpolatie #{} om er zeker van te zijn dat 
        // de splitter correct wordt genest onder de modus-classes.
        @at-root body.ux-mode {
            .WoB .splitter {
                background-color: #{$ux-black-50} !important;
            }

            .BoW .splitter {
                background-color: #{$ux-white-50} !important;
            }
        }
    }

    &.mobile {
        display: none;
        @include mix.respond-to(v.$bp-small) {
            display: block;
        }
    }
}

