@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

.P10 {
    @include mix.apply-ux-bg("35");
}

.P20 {
    @include mix.apply-ux-bg("20");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}

.P30 {
    @include mix.apply-ux-bg("30");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}
.P35 {
    @include mix.apply-ux-bg("35");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}

.P40 {
    @include mix.apply-ux-bg("40");
    &[class*="fill-"] {
        padding: map.get(map.get(v.$design-scale, "3xl"), "r-space");

        @include mix.respond-to(v.$bp-small) {
            padding: map.get(map.get(v.$design-scale, "2xl"), "r-space");
        }
    }

    &:not([class*="fill-"]) {
        padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

        @include mix.respond-to(v.$bp-small) {
            padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
        }
    }
}

.P45 {
    @include mix.apply-ux-bg("45");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}

.P50 {
    @include mix.apply-ux-bg("20");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}
.P55 {
    @include mix.apply-ux-bg("35");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}

.P60 {
    @include mix.apply-ux-bg("30");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}
.P65 {
    @include mix.apply-ux-bg("45");
    padding: map.get(map.get(v.$design-scale, "lg"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: map.get(map.get(v.$design-scale, "sm"), "r-space");
    }
}

/*BANNER*/
.P30-banner {
    @include mix.apply-ux-bg("30");
    padding: 53px map.get(map.get(v.$design-scale, "xl"), "r-space");

    @include mix.respond-to(v.$bp-small) {
        padding: 93px map.get(map.get(v.$design-scale, "base"), "r-space");
    }
}
