@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;

// _reset.scss
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Body Basis
body {
    background-color: var(--black-100);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-top: v.$nav-height-large;

    @include mix.respond-to(v.$bp-medium) {
        padding-top: v.$nav-height-medium;
    }

    @include mix.respond-to(v.$bp-small) {
        padding-top: v.$nav-height-small;
    }   
}
