@use "sass:map";
@use "../abstracts/mixins" as global;
@use "../abstracts/variables" as var;
@use "../abstracts/functions" as fn;

// _reset.scss
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Body Basis
body {
    background-color: var(--black-100);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-top: calc(var.$nav-height-large);

    @include global.respond-to(fn.get-breakpoint("medium")) {
        padding-top: calc(var.$nav-height-medium);
    }

    @include global.respond-to(fn.get-breakpoint("small")) {
        padding-top: calc(var.$nav-height-small);
    }

    &.ux-mode {
        
        // Gebruik map.get in plaats van map-get
        background-color: map.get(map.get(var.$colors, "ux-white"), "100");
        color: map.get(map.get(var.$colors, "ux-black"), "100");
    }



    
}
