@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;


:root {
    --screen-size-large: #{fn.get-breakpoint("large")};
    --screen-size-medium: #{fn.get-breakpoint("medium")};
    --screen-size-small: #{fn.get-breakpoint("small")};

    @each $base-color, $tints in v.$colors {
        @each $tint-name, $value in $tints {
            $css-var-name: #{$base-color}-#{$tint-name};
            --#{$css-var-name}: #{$value};
        }
    }
}