@use "../abstracts/variables" as var;

:root {
    // Voeg overal 'var.' toe voor de variabelenaam
    --screen-size-large: #{var.$screen-size-large};
    --screen-size-medium: #{var.$screen-size-medium};
    --screen-size-small: #{var.$screen-size-small};

    // Gebruik var.$colors in de loop
    @each $base-color, $tints in var.$colors {
        @each $tint-name, $value in $tints {
            $css-var-name: #{$base-color}-#{$tint-name};
            --#{$css-var-name}: #{$value};
        }
    }
}